.navigation {
    background-color: $dark-blue;

    nav {
        padding: 0;
        
        a {
            color: #fff;
            
            &:hover {
                color: $yellow;
            }
        }

        .navigation__items {
            & > li {
                position: relative;

                &:not(:last-child) {
                    margin-right: 35px;
                }

                &:not(.navigation__items__has-child)::after {
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 0;
                    height: .5px;
                    background-color: $yellow;
                    transition: .3s all;
                }

                &:hover::after {
                    width: 100%;
                }
            }

            &__has-child {            
                ul {
                    height: 0;
                    width: fit-content;
                    border: 1px solid transparent;
                    border-radius: 5px;
                    background-color: $dark-blue;
                    overflow: hidden;   
                    transition: .3s all;
                    opacity: 0;
                    z-index: 10;
            
                    li {
                        padding: 10px;
                        
                        &:not(:last-child) {
                            border-bottom: 1px solid $yellow;
                        }
                    }
                }

                &:hover {
                    ul {
                        height: 210px;
                        border: 1px solid $yellow;
                        opacity: 1;
                    }
                }
            }
        }
    }
} 
    