@mixin sidebar-containers {
    background-color: $light-silver;
    border: 1px solid $tirqize-blue;
    border-radius: 5px;
    padding: 1rem 0;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}